@charset "utf-8";
/* CSS Document */
/* Menu*/
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
body {min-width: 1170px; height: auto; margin: 0; padding: 0;   font-family: 'Comfortaa', cursive;}
  h3 {
  text-align: center;
  font-size: 40px;
}
a {
  text-decoration: none;
}
.menu-main {
  background: none
}
.logo {
  height: auto;
  position: relative;
  bottom: 10%;
  max-width: 40%;
  }
.menu-main {
  display: inline-block;
  width: 100%;
  max-height: 100%;
  list-style: none;
  margin: 0px;
  padding: 10px;
  text-align: center;
  background: white;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  z-index: 100;
}
.menu-main.fixed {
position: fixed;
top: 0;
width: 100%;
background: #ffffff;
}
.menu-main li {
  display: inline-block;
}
.menu-main:before {
  position: relative;
  display: inline-block;
  height: 60px;
  width: auto;
  left:0;
  z-index: 100;
}
.menu-main li:after {
  color: #000000;
  display: inline-block;
  vertical-align:top;
}
.menu-main a {
  color: #000000;
  padding-bottom: 30px;
  margin: 0 34px 0 30px;
  font-size: 16px;
  display: inline-block;
}
.menu-main a:hover {
    color: #ff00e6;
    transition: color 0.6s ease;
}
.fa-instagram {font-size: 44px; position: relative; top: 14px;}
.fa-whatsapp {font-size: 44px; position: relative; top: 14px;}
.fa-whatsapp:hover {color: #09b900; transition: color 0.6s ease;}
/*Фоновое видео и заголовки*/
.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 45%;
}
.fullscreen-bg img {
  opacity: .4;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: auto;
  z-index: 4;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.overlay {
position: absolute;
top:0;
left:0;
width: 100%;
height: 100%;
z-index: 5;
}
.overlay h1 {
    text-align: center;
    color:#fff;
    font-size: 45px;
    margin-top: 17%;
}
.overlay h2 {
	text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: 3%;
  }
  /*Slider*/
.SliderMenu {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  height: auto;
  position: relative;
}
.item {
  display: flex;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 600px;
  width: 1170px;
  max-width: 100%;
  z-index: 0;
}
.text-1 {
  font-size: 19px;
  width: 600px;
  position: absolute;
  padding-top: 3%;
  padding-bottom: 10%;
  right: 8%;
}
.sliderImg {
  position: absolute;
  right: 60%;
}
.img {
  height: auto;
  width: 500px;
  max-width: 100%;
}
.SliderIcon {
max-width: 8%;
height: auto;
margin: 0 2em;
position: relative;
-moz-border-radius: 140px;
-webkit-border-radius: 140px;
border-radius: 140px;
}
.punct {
  vertical-align: middle;
  max-width: 8%;
  margin: 0 2em;
  position: relative;
  top: -50px;
}
/* Button animation*/
.SliderIcon:hover {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes flip {
  0% {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
  transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  }
  40% {
  -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
  transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  }
  50% {
  -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
  transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }
  80% {
  -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
  transform: perspective(400px) scale3d(.95, .95, .95);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }
  100% {
  -webkit-transform: perspective(400px);
  transform: perspective(400px);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }
  }
  @keyframes flip {
  0% {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
  transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  }
  40% {
  -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
  transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  }
  50% {
  -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
  transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }
  80% {
  -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
  transform: perspective(400px) scale3d(.95, .95, .95);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }
  100% {
  -webkit-transform: perspective(400px);
  transform: perspective(400px);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }
  }
  .contacts_conteiner {
    display: flex;
    background-color: white;
    padding-top: 20px;
    height: 200px;
    width: 100%;
  }
  .contacts {
    padding-left: 12%;
    left: 10%;
  }
  .contacts p, address {
    color: black;
  }
  .tel {
    text-decoration: none;
    color: #ff00e6;
  }
  .mail {
    text-decoration: none;
    color: #ff00e6;
  }
    .share {
      left: 20%;
      position: relative;
      display: block;
    }
    .social {
      font-size: 22px;
      padding: 0;
      color: black;
      display: flex;
      list-style: none;
      justify-content: space-between;
      width: 400px;
    }
    .social_item {
      font-size: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 5px solid black;
      text-align: center;
      justify-content: center;
      align-items: center;
      line-height: 60px;
    }
    .share i {
      font-size: 30px;
      color: black;
    }
    .share p {
      font-size: 20px;
    }
    .vk:hover {border-color:#2d64df; box-shadow: 0 0 10px #2d64df;}
    .twitter:hover {border-color:#00d9ff; box-shadow: 0 0 10px #00d9ff;}
    .facebook:hover {border-color:#000fd5; box-shadow: 0 0 10px #000fd5;}
    .pinterest:hover {border-color:#e90000; box-shadow: 0 0 10px #e90000;}
    .linkedin:hover {border-color:#007afa; box-shadow: 0 0 10px #007afa;}
    .envelope:hover {border-color:#dfd600; box-shadow: 0 0 10px #fff500;}
    .vk:hover .fa-vk {
    color: #2d64df;
    }
    .twitter:hover .fa-twitter {
      color: #00d9ff;
    }
    .facebook:hover .fa-facebook-f {
      color: #000fd5;
    }
    .pinterest:hover .fa-pinterest-p {
      color: #e90000;
    }
    .linkedin:hover .fa-linkedin-in {
      color: #007afa;
    }
    .envelope:hover .fa-envelope {
      color: #dfd600;
    }
/*Map*/
.mapConteiner {
  padding-top: 0px;
  position: relative;
  height: 300px;
  width: auto;
}
/*Footer*/
footer {
  padding: 0;
  margin: 0;
  height: 30px;
  width: auto;
  background-color: white;
}
.footer_copyright{
  padding-top: 6px;
  color: black;
}
